li.message
	.username-timestamp
		span(class=userid, style=`font-weight: 500; color: ${usercolor};`) #{username}-#{userid}
		span.message-timestamp [#{timestamp}]
	.message-body
		span #{messagebody}

	//-  GMT-0700 (Pacific Daylight Time)